/packages
/WebHost/content
/WebHost/app
/WebHost/Data
/WebHost/Raven
/WebHost/brochure
/Client/localhost/app
/Client/temp
/Client/data/lastbuild.js
/Brochure/localhost/brochure
npm-debug.log

**/bower_components
**/node_modules
**/obj
**/bin

*.user
*.suo

/Host/WebHost/*.css
/Host/WebHost/*.html